body{
    margin: 0;
    padding: 0;
    background: url(../Imagenes/geometric-1732847_1920.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.login{
    width: 320px;
    height: 420px;
    background-color:white;
    color:#000;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    position: absolute;/*Ubica adelante*/
    top:-50px;
    left: calc(50% - 50px);
    
}
.login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size:22px;

}
.login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login input{
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="email"]{
    border:none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
.login input[type="text"],
.login input[type="password"]{
    border:none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
.login input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background-color: #51adcf;
    border-radius: 20px;
    color:#000; 
    font-size: 16px;

}
.login input[type="submit"]:hover {
    color: #0f3057;
    font-weight: bold;
    transition: all .3s;
  }
.login a{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color:darkgray;
}
.login a:hover{
    color:#000;

}
.ok{
	text-align:center-right;
	font-size: 16px;
	padding: 8px;
	color: #931a25;
}
.bad{
	text-align:center-right;
	font-size: 16px;
	padding: 8px;
	/*background-color: #a22;*/
	color: #a22;
}